* {
	font-family: '微软雅黑';
}
@mixin clear{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
@mixin els() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
