* {
	font-family: '微软雅黑';
}
a,
a:link,
a:visited,
a:hover{
  text-decoration: none;
  outline: none;
  border: 0;
  color: inherit;
}
@mixin clear{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
@mixin els() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin block() {
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

//按钮集合
.pub-button__emphasize{
  background: #EB5648;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px 40px;
  font-size: inherit;
  line-height: 1em;
}
.pub-button__normal{
  background: transparent;
  color: #EB5648;
  border: 1px solid #EB5648;
  outline: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px 40px;
  font-size: inherit;
  line-height: 1em;
  &.size-mini{
    padding: 8px 20px;
    font-size: 80%;
  }
  &:hover{
    background: #EB5648;
    color: #fff;
  }
}
//区块容器
.lyt-block__wraper{
  @include block;
}
//图文2列混排
.lyt-cols2__wraper{
  @include clear();
  .lyt-image__left{
    float: left;
    width: 683px;
  }
  .lyt-text__right{
    margin-left: 683px;
    overflow: hidden;
  }
}

//公用弹框样式
.dialog-common__cover{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background: #63656F;
}
