//reset
@import "../../assets/style/common.scss";
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}

*:focus{
  border: 1px solid #3c3c3c42;
  outline: 0;
}

.de-baocun:before { content: "\e69d"; }

.ic-txt-bold:before { content: "\e7db"; }
.ic-txt-italic:before { content: "\e700"; }
.ic-txt-unline:before { content: "\e701"; }
.ic-txt-del:before { content: "\e664"; }

.ic-txt-left:before { content: "\e73f"; }
.ic-txt-center:before { content: "\e73e"; }
.ic-txt-right:before { content: "\e6cd"; }
.ic-txt-rotate:before { content: "\e823"; }

.ic-attr-relate:before { content: "\e674"; }

.de-Group-:before { content: "\e697"; }
.de-fanhuishangyibu-:before { content: "\e61a"; }
.de-fanhuixiayibu-:before { content: "\e61c"; }
.de-yulan:before { content: "\e668"; }

.c-danger{
  color: #f00;
}

.control-panle__container{
  padding-top: 20px;
}
.control-panle__title{
  margin: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  display: none;
}
//输入框选项列表样式
.control-panel__attrs{
  .control-item__wraper{
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
//标签-输入框布局
.control-lyt__group{
  margin-left: 5em;
  font-size: 12px;
  label{
    float: left;
    margin-left: -5em;
    padding-right: 1em;
    width: 4em;
    text-align: right;
    line-height: 38px;
  }
  &.mulit-ipts{
    margin-right: 3em;
    .right-add-ipt{
      float: right;
      width: 2.5em;
      margin-right: -3.5em;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border: 1px solid #3c3c3c42;
      border-radius: 3px;
    }
  }
}
.control-input__group{
  @include clear();
  display: flex;

  .ts-ipt {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #3c3c3c42;
    border-radius: 3px;
  }
  .ts-ipt-wp{
    width: 100%;
    heigth: 30px;
    line-height: 30px;
    text-align: center;
    input{
      width: 100%;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border: 1px solid #3c3c3c42;
      border-radius: 3px;
    }
  }
}

//文本操作按钮集合
.control-text__group{
  @include clear();
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-size: 0;
  padding-top: 20px;
  .control-text__icon{
    display: inline-block;
    width: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 24px;
    text-align: center;
    color: #666;
    margin-bottom: 20px;
    .theme-icons{
      border: 1px solid #ababab;
      border-radius: 3px;
      padding: 3px;
      cursor: pointer;
      &.active{
        color: #EB5648;
        border-color: #EB5648;
      }
    }
  }
}

//公用的控制栏
.operate-panel__main{
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ececec;
  .operate-item__wraper{
    width: 25%;
    text-align: center;
    border-right: 1px solid #ececec;
    cursor: pointer;
    &:active{
      transform: translateY(1px)
    }
    &.disabled {
      cursor: not-allowed;
      color: #dddddd;
    }
  }
}

// 选择框组建不换行
.v-select .dropdown-toggle{
  height: 35px;
}
.v-select .dropdown-toggle .clear{
  display: none;
}
.v-select .selected-tag {
  @include els();
}

//上传控件控制
.upload-editor{
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
   .el-upload,
   .el-upload-dragger{
    width: 100%;
  }
}

// 4边分别设置做关联
.btn-relateipt {
  background: #fff;
  position: absolute;
  z-index: 10;
  left: 42px;
  top: 28px;
  width: 1.2em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border: 1px solid #ababab;
  border-radius: 10px;
  &.active,
  &.selected{
    background: #ddd;
  }
}
//边框设置
.border-panel{
  position: relative;
  z-index: 10;
  left: 10px;
  top: 10px;
  width: 80px;
  height: 65px;
  border: 1px solid #ababab;
  border-radius: 5px;
  margin-bottom: 25px;

  .theme-icons{
    left: 31px;
    top: 23px;
  }
  input{
    width: 20px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #3c3c3c42;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 3;
    &[name="bdtop"]{
      left: 20px;
      top: -15px;
    }
    &[name="bdright"]{
      right: -22px;
      top: 16px;
    }
    &[name="bdbottom"]{
      left: 20px;
      bottom: -14px;
    }
    &[name="bdleft"]{
      left: -20px;
      top: 16px;
    }
  }
}

//圆角设置
.circle-panel {
  width: 100%;
  position: relative;
  z-index: 10;
  .circle-item{
    margin-bottom: 10px;
  }
  .radius-ipt{
    width: 20px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #3c3c3c42;
    padding: 5px 10px;
    &[name="topLeft"] {
      border-top-left-radius: 10px;
      padding-left: 15px;
      margin-right: 6px;
    }
    &[name="topRight"] {
      border-top-right-radius: 10px;
      padding-right: 15px;
    }
    &[name="bottomLeft"] {
      border-bottom-left-radius: 10px;
      padding-left: 15px;
      margin-right: 6px;
    }
    &[name="bottomRight"] {
      border-bottom-right-radius: 10px;
      padding-right: 15px;
    }
  }
}

